@mixin consoleStyle($gradient1,$gradient2,$linkColor){
		
		@include gradient($gradient1,$gradient2);

	a{
		color: lighten($linkColor, 30%);
	}

	a:hover{
		color: lighten($linkColor, 20%);
	}	
}

.cgamecube{
	@include consoleStyle(#3B25BA,#3E1F9B,#6209E8);
}

.c3ds{

	@include consoleStyle(#820000,#000000,#820000);
}

.cplaystation4{

	@include consoleStyle(#003375,#004AAB,#008DD4);
}

.cwiiu{
	@include consoleStyle(#008DD4 , #00A7FA,#008DD4);
}