@mixin gradient ($color1, $color2){
	/* Old browsers */
	background: $color1; 
	/* FF3.6+ */
	background: -moz-linear-gradient(top,  $color1 0%, $color2 100%); 
	/* Chrome,Safari4+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2)); 
	/* Chrome10+,Safari5.1+ */
	background: -webkit-linear-gradient(top,  $color1 0%,$color2 100%); 
	/* Opera 11.10+ */
	background: -o-linear-gradient(top,  $color1 0%,$color2 100%); 
	/* IE10+ */
	background: -ms-linear-gradient(top,  $color1 0%,$color2 100%); 
	/* W3C */
	background: linear-gradient(to bottom,  $color1 0%,$color2 100%); 
	/* IE6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); 

}