/* General Styles */
.infoBox {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 50px;
  border: 1px solid white; }
  .infoBox .title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 20px;
    line-height: 20px;
    background-color: #F5F5F5;
    color: #141414;
    border-bottom: 1px solid #0A0A0A;
    font-size: 12px;
    text-align: center;
    font-weight: bold; }
  .infoBox .value {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    width: 100%;
    font-size: 13px; }

/* Games Database Styles */
.mainGamesDB {
  position: relative;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 200px;
  text-align: center; }
  .mainGamesDB .box {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 170px;
    margin: 0 7px;
    border: 1px solid #2E2E2E;
    vertical-align: top;
    background-color: #3A3A3B;
    box-shadow: 1px 1px 3px black; }
    .mainGamesDB .box img {
      width: 120px;
      height: 120px; }
    .mainGamesDB .box .title {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 27px;
      line-height: 27px;
      background-color: #363636;
      border-top: 1px solid #2E2E2E;
      color: #ACACAD; }
  .mainGamesDB .box:hover {
    box-shadow: 0px 0px 15px #888888;
    top: -5px;
    cursor: pointer; }

.platformsGamesDB {
  color: white; }
  .platformsGamesDB .controls {
    text-align: center;
    margin-top: 30px; }
  .platformsGamesDB .info {
    margin: 20px 0; }
    .platformsGamesDB .info #newPlatformsFound {
      width: 340px;
      margin: 0 auto;
      text-align: center; }
    .platformsGamesDB .info #newPlatformsAdded {
      width: 340px;
      margin: 0 auto;
      text-align: center; }
    .platformsGamesDB .info #updating {
      display: none;
      width: 340px;
      margin: 0 auto;
      text-align: center; }
    .platformsGamesDB .info #updateCheck {
      display: none;
      width: 340px;
      margin: 0 auto;
      text-align: center; }
  .platformsGamesDB .platformsWrapper {
    text-align: center;
    margin-top: 20px; }
    .platformsGamesDB .platformsWrapper .platform {
      position: relative;
      display: inline-block;
      width: 230px;
      height: 80px;
      vertical-align: top;
      margin: 10px 6px;
      font-size: 14px;
      border: 1px solid #DEDFE0;
      background-color: #3B3B3B;
      box-shadow: 1px 1px 3px black; }
      .platformsGamesDB .platformsWrapper .platform .id {
        position: absolute;
        display: none;
        opacity: 0.7;
        left: 5px;
        top: 6px; }
      .platformsGamesDB .platformsWrapper .platform .title {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 20px;
        line-height: 20px;
        background-color: #F5F5F5;
        color: #141414;
        border-top: 1px solid #0A0A0A;
        font-size: 12px;
        text-align: center;
        font-weight: bold; }

.gamesGamesDB .platformsWrapper {
  text-align: center;
  margin-top: 20px; }
  .gamesGamesDB .platformsWrapper .platform {
    position: relative;
    display: inline-block;
    width: 230px;
    height: 80px;
    vertical-align: top;
    margin: 10px 6px;
    font-size: 14px;
    border: 1px solid #DEDFE0;
    background-color: #3B3B3B;
    box-shadow: 1px 1px 3px black; }
    .gamesGamesDB .platformsWrapper .platform .id {
      position: absolute;
      display: none;
      opacity: 0.7;
      left: 5px;
      top: 6px; }
    .gamesGamesDB .platformsWrapper .platform .title {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 20px;
      line-height: 20px;
      background-color: #F5F5F5;
      color: #141414;
      border-top: 1px solid #0A0A0A;
      font-size: 12px;
      text-align: center;
      font-weight: bold; }
    .gamesGamesDB .platformsWrapper .platform .dbGames {
      position: absolute;
      left: 0;
      top: 0;
      width: 114px;
      height: 59px;
      border-right: 1px solid white; }
      .gamesGamesDB .platformsWrapper .platform .dbGames .title {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 20px;
        line-height: 20px;
        background-color: #1C1C1C;
        color: white;
        font-size: 12px; }
      .gamesGamesDB .platformsWrapper .platform .dbGames .gamesNumber {
        position: absolute;
        left: 0;
        top: 20px;
        width: 100%;
        height: 40px;
        line-height: 40px;
        background-color: #282929;
        color: white;
        font-size: 12px; }
    .gamesGamesDB .platformsWrapper .platform .newGames {
      position: absolute;
      right: 0;
      top: 0;
      width: 114px;
      height: 59px;
      border-left: 1px solid white; }
      .gamesGamesDB .platformsWrapper .platform .newGames .title {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 20px;
        line-height: 20px;
        background-color: #1C1C1C;
        color: white;
        font-size: 12px; }
      .gamesGamesDB .platformsWrapper .platform .newGames .gamesNumber {
        position: absolute;
        left: 0;
        top: 20px;
        width: 100%;
        height: 40px;
        line-height: 40px;
        color: white;
        font-size: 12px; }
