
/* General Styles */
.infoBox{
	position:relative;
	display:inline-block;
	width:250px;
	height:50px;
	border:1px solid white;

	.title{
		position:absolute;
		left:0;
		top:0;

		width:100%;
		height:20px;
		line-height:20px;

		background-color:#F5F5F5;
		color:#141414;

		border-bottom: 1px solid #0A0A0A;
		font-size:12px;
		text-align:center;
		font-weight: bold;
	}

	.value{
		position:absolute; 
		left:0;
		bottom:0;
		height:30px;
		line-height:30px;
		width:100%;
		font-size:13px;
	}
}


/* Games Database Styles */
.mainGamesDB{
	position:relative;
	width:100%;
	margin-top:100px;
	margin-bottom:200px;
	text-align:center;

	.box{
		position:relative;
		display:inline-block;
		width:170px;
		height:170px;
		margin:0 7px;
		border: 1px solid #2E2E2E;
		vertical-align:top;

		background-color:#3A3A3B;

		box-shadow: 1px 1px 3px black;

		img{
			width:120px;
			height:120px;
		}

		.title{
			position:absolute;
			bottom:0px;
			left:0px;
			width:100%;
			height:27px;
			line-height:27px;
			background-color:rgb(54,54,54);
			border-top:1px solid #2E2E2E;
			color:#ACACAD;
		}

	}

	.box:hover{
		box-shadow: 0px 0px 15px #888888;
		top: -5px;
		cursor: pointer;
	}


}

.platformsGamesDB{
	color:white;

	.controls{
		text-align:center;
		margin-top:30px;
	}

	.info{
		margin:20px 0;

		#newPlatformsFound{
			width:340px;
			margin:0 auto;
			text-align:center;
		}

		#newPlatformsAdded{
			width:340px;
			margin:0 auto;
			text-align:center;
		}

		#updating{
			display:none;
			width:340px;
			margin:0 auto;
			text-align:center;
		}

		#updateCheck{
			display:none;
			width:340px;
			margin:0 auto;
			text-align:center;
		}
	}

	.platformsWrapper{
		text-align:center;
		margin-top:20px;

		.platform{
			position:relative;
			display:inline-block;
			width:230px;
			height:80px;
			vertical-align:top;
			margin:10px 6px;
			font-size:14px;
			border:1px solid #DEDFE0;
			background-color:#3B3B3B;

			box-shadow: 1px 1px 3px black;

			.id{
				position:absolute;
				display:none;
				opacity:0.7;
				left:5px;
				top:6px;
			}

			.title{
				position:absolute;
				left:0;
				bottom:0;

				width:100%;
				height:20px;
				line-height:20px;

				background-color:#F5F5F5;
				color:#141414;

				border-top: 1px solid #0A0A0A;
				font-size:12px;
				text-align:center;
				font-weight: bold;
			}
			
		}
	}
}

.gamesGamesDB{

	.platformsWrapper{
		text-align:center;
		margin-top:20px;

		.platform{
			position:relative;
			display:inline-block;
			width:230px;
			height:80px;
			vertical-align:top;
			margin:10px 6px;
			font-size:14px;
			border:1px solid #DEDFE0;
			background-color:#3B3B3B;

			box-shadow: 1px 1px 3px black;

			.id{
				position:absolute;
				display:none;
				opacity:0.7;
				left:5px;
				top:6px;
			}

			.title{
				position:absolute;
				left:0;
				bottom:0;

				width:100%;
				height:20px;
				line-height:20px;

				background-color:#F5F5F5;
				color:#141414;

				border-top: 1px solid #0A0A0A;
				font-size:12px;
				text-align:center;
				font-weight: bold;
			}

			.dbGames{
				position:absolute;
				left:0;
				top:0;
				width:114px;
				height:59px;
				border-right:1px solid white;

				.title{
					position:absolute;
					left:0;
					top:0;
					width:100%;
					height:20px;
					line-height:20px;
					background-color:#1C1C1C;
					color:white;
					font-size:12px
				}

				.gamesNumber{
					position:absolute;
					left:0;
					top:20px;
					width:100%;
					height:40px;
					line-height:40px;
					background-color:#282929;
					color:white;font-size:12px
				}
			}

			.newGames{
				position:absolute;
				right:0;
				top:0;
				width:114px;
				height:59px;
				border-left:1px solid white;

				.title{
					position:absolute;
					left:0;
					top:0;
					width:100%;
					height:20px;
					line-height:20px;
					background-color:#1C1C1C;
					color:white;
					font-size:12px
				}

				.gamesNumber{
					position:absolute;
					left:0;
					top:20px;
					width:100%;
					height:40px;
					line-height:40px;
					color:white;font-size:12px
				}
			}
			
		}
	}
}