.cgamecube {
  /* Old browsers */
  background: #3b25ba;
  /* FF3.6+ */
  background: -moz-linear-gradient(top, #3b25ba 0%, #3e1f9b 100%);
  /* Chrome,Safari4+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b25ba), color-stop(100%, #3e1f9b));
  /* Chrome10+,Safari5.1+ */
  background: -webkit-linear-gradient(top, #3b25ba 0%, #3e1f9b 100%);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #3b25ba 0%, #3e1f9b 100%);
  /* IE10+ */
  background: -ms-linear-gradient(top, #3b25ba 0%, #3e1f9b 100%);
  /* W3C */
  background: linear-gradient(to bottom, #3b25ba 0%, #3e1f9b 100%);
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2',GradientType=0 ); }
  .cgamecube a {
    color: #ba8ffb; }
  .cgamecube a:hover {
    color: #9c5ef9; }

.c3ds {
  /* Old browsers */
  background: #820000;
  /* FF3.6+ */
  background: -moz-linear-gradient(top, #820000 0%, black 100%);
  /* Chrome,Safari4+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #820000), color-stop(100%, black));
  /* Chrome10+,Safari5.1+ */
  background: -webkit-linear-gradient(top, #820000 0%, black 100%);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #820000 0%, black 100%);
  /* IE10+ */
  background: -ms-linear-gradient(top, #820000 0%, black 100%);
  /* W3C */
  background: linear-gradient(to bottom, #820000 0%, black 100%);
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2',GradientType=0 ); }
  .c3ds a {
    color: #ff1c1c; }
  .c3ds a:hover {
    color: #e80000; }

.cplaystation4 {
  /* Old browsers */
  background: #003375;
  /* FF3.6+ */
  background: -moz-linear-gradient(top, #003375 0%, #004aab 100%);
  /* Chrome,Safari4+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #003375), color-stop(100%, #004aab));
  /* Chrome10+,Safari5.1+ */
  background: -webkit-linear-gradient(top, #003375 0%, #004aab 100%);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #003375 0%, #004aab 100%);
  /* IE10+ */
  background: -ms-linear-gradient(top, #003375 0%, #004aab 100%);
  /* W3C */
  background: linear-gradient(to bottom, #003375 0%, #004aab 100%);
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2',GradientType=0 ); }
  .cplaystation4 a {
    color: #6eceff; }
  .cplaystation4 a:hover {
    color: #3bbdff; }

.cwiiu {
  /* Old browsers */
  background: #008dd4;
  /* FF3.6+ */
  background: -moz-linear-gradient(top, #008dd4 0%, #00a7fa 100%);
  /* Chrome,Safari4+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008dd4), color-stop(100%, #00a7fa));
  /* Chrome10+,Safari5.1+ */
  background: -webkit-linear-gradient(top, #008dd4 0%, #00a7fa 100%);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #008dd4 0%, #00a7fa 100%);
  /* IE10+ */
  background: -ms-linear-gradient(top, #008dd4 0%, #00a7fa 100%);
  /* W3C */
  background: linear-gradient(to bottom, #008dd4 0%, #00a7fa 100%);
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2',GradientType=0 ); }
  .cwiiu a {
    color: #6eceff; }
  .cwiiu a:hover {
    color: #3bbdff; }

.view {
  background: none;
  margin: 40px auto;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 1024px;
  max-width: 1280px; }

.fixedBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }

#loadIndicator {
  position: fixed;
  width: 100px;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -25px;
  text-align: center; }

#GameView {
  display: none; }
  #GameView .coverImage {
    display: inline-block;
    position: relative;
    width: 30%;
    text-align: center;
    background-color: #212121;
    height: 370px;
    line-height: 370px; }
    #GameView .coverImage img {
      margin-right: 30px;
      border: 1px solid #ccc;
      border-radius: 10px; }
  #GameView .generalInfo {
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding: 15px;
    word-wrap: break-word;
    background-color: #262626;
    boreder: 1px solid #474747;
    height: 370px;
    line-height: 370px;
    background: repeating-linear-gradient(60deg, #262626, #262626 35px, #242424 35px, #242424 70px);
    width: 70%;
    color: white; }
  #GameView .description {
    width: 100%;
    height: 300px;
    background-color: #1F1F1F;
    padding: 25px;
    color: white; }
  #GameView .multiplayer {
    position: relative;
    width: 100%;
    overflow: hidden; }
  #GameView .multiplayerLeft {
    display: inline-block;
    position: relative;
    width: 33.333%;
    height: 300px;
    line-height: 300px;
    background-color: #1F1F1F;
    padding: 15px;
    color: white; }
  #GameView .multiplayerRight {
    display: inline-block;
    position: relative;
    width: 33.333%;
    height: 300px;
    line-height: 300px;
    background-color: #1F1F1F;
    padding: 15px;
    color: white; }
  #GameView .multiplayerCenter {
    display: inline-block;
    position: relative;
    width: 33%;
    height: 300px;
    line-height: 300px;
    background-color: #1F1F1F;
    padding: 15px;
    color: white;
    margin-left: 2px;
    margin-right: 2px; }
  #GameView .categorylabel {
    position: relative;
    width: 250px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #393939;
    border: 1px solid #404040;
    margin-bottom: 10px;
    margin-left: 15px;
    font-weight: bold; }
  #GameView .devider {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
    background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
    background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
    background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent); }
  #GameView .head {
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #212121;
    height: 50px;
    line-height: 50px;
    /*border-bottom: 1px solid #C4C4C4;*/
    margin-bottom: 2px;
    color: white;
    font-weight: bold;
    text-align: center; }
  #GameView .foot {
    -webkit-border-bottom-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #212121;
    height: 50px;
    line-height: 50px;
    /*border-bottom: 1px solid #C4C4C4;*/
    margin-bottom: 1px;
    color: white;
    font-weight: bold;
    text-align: center; }

.home {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6; }

.adminBase {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #EBEBEB; }

body {
  background-color: #1C1C1C;
  padding: 0px;
  margin: 0px; }

.inputNoStyle {
  height: 18px !important;
  background-color: transparent !important;
  border: 0px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  padding: 0px !important; }

.center {
  margin-right: auto !important;
  margin-left: auto !important; }

#footer {
  text-align: center;
  font-size: 12px;
  color: white;
  margin-top: 8px;
  margin-bottom: 8px; }

#footer a {
  color: #CADFFC; }

#footer a:hover {
  text-decoration: underline; }

.gameblock {
  position: relative;
  width: 300px;
  height: 170px;
  background: #292929;
  border: 1px solid #141414;
  text-align: initial;
  display: inline-block;
  margin-bottom: 6px;
  margin-left: 2px;
  margin-right: 2px; }
  .gameblock .shadow_line {
    width: 100%;
    height: 1px;
    background: #363636; }
  .gameblock .header {
    height: 30px;
    width: 98%;
    position: relative;
    white-space: nowrap;
    overflow: hidden; }
    .gameblock .header .own_status_full {
      width: 0px;
      height: 100%;
      overflow: hidden;
      display: inline-block;
      background: #363636;
      color: white;
      font-size: 0.89564rem;
      padding-top: 8px;
      text-align: center;
      cursor: pointer; }
      .gameblock .header .own_status_full:hover {
        background: #454545; }
      .gameblock .header .own_status_full[owner="true"] {
        border-right: 1px solid #24FF24; }
      .gameblock .header .own_status_full[owner="false"] {
        border-right: 1px solid #FC2626; }
    .gameblock .header .own_status {
      display: inline-block;
      vertical-align: top;
      width: 4px;
      height: 100%;
      position: absolute;
      left: 1; }
      .gameblock .header .own_status[owner="true"] {
        border-right: 1px solid #00E800;
        background-color: #34D100; }
      .gameblock .header .own_status[owner="false"] {
        border-right: 1px solid #FF0000;
        background-color: #FC1212; }
    .gameblock .header .title {
      display: inline-block;
      vertical-align: top;
      margin-top: 8px;
      margin-left: 7px;
      font-weight: 500;
      color: white;
      font-size: 0.89564rem;
      font-family: "quatro-slab","Helvetica Neue","HelveticaNeue",Arial,sans-serif;
      -webkit-font-smoothing: antialiased;
      cursor: pointer; }
  .gameblock .information {
    position: relative;
    width: 100%;
    height: 140px;
    background: #292929;
    border-top: 1px solid #141414; }
    .gameblock .information .shadow_line {
      width: 100%;
      height: 1px;
      background: #636363; }
    .gameblock .information .background-image {
      width: 100%;
      height: 100%;
      opacity: 0.3;
      background-size: 100% auto; }
    .gameblock .information .cover {
      position: absolute;
      left: 0;
      top: 0; }
      .gameblock .information .cover img {
        max-width: 80px;
        max-height: 100px;
        width: auth;
        height: auto;
        position: absolute;
        left: 15px;
        top: 24px;
        box-shadow: -1px 1px 3px 1px #525252; }
    .gameblock .information .beaten-budge {
      position: absolute;
      top: 0;
      right: 3px;
      max-width: 20px;
      width: auto;
      height: auto; }
      .gameblock .information .beaten-budge[beaten="true"] {
        opacity: 1; }
      .gameblock .information .beaten-budge[beaten="false"] {
        opacity: 0.2; }
      .gameblock .information .beaten-budge[beaten="pending"] {
        opacity: 0.6; }
    .gameblock .information .details {
      position: absolute;
      left: 140px;
      top: 25px; }
      .gameblock .information .details .block {
        margin-bottom: 5px;
        color: white;
        font-size: 0.74886rem;
        font-family: "proxima-nova","Helvetica Neue","HelveticaNeue",Arial,sans-serif;
        -webkit-font-smoothing: antialiased; }
        .gameblock .information .details .block .title {
          font-weight: bold; }
