$footerColor: #1A1A1A; // NOT USED YET - TODO

$siteMinWidth: 1024px;
$siteMaxWidth: 1280px;
$siteBackgroundColor: #000000; // SET THE COLOR - TODO

@import "generalMixins";
@import "consoleStyles";

.view{
	// Note : Background none is important for overwritten game view bg
	background:none;
	margin: 40px auto;
	padding-left: 10px;
	padding-right: 10px;
	min-width: $siteMinWidth;
	max-width: $siteMaxWidth;
}

.fixedBackground{
 	position:fixed;
 	top:0;
 	left:0;
 	width:100%;
 	height: 100%;
	z-index: -1;
}

#loadIndicator{
	position:fixed;
	width:100px;
	left:50%;
	top:50%;
	margin-left:-50px;
	margin-top:-25px;
	text-align:center;
}
#GameView{

	display:none;

	.coverImage{
		display: inline-block;
		position: relative;
		width: 30%;
		text-align: center;
		background-color: #212121;
		height: 370px;
		line-height: 370px;

		img {
			margin-right: 30px;
			border: 1px solid #ccc;
			border-radius:10px;
		}
	}

	.generalInfo{
		display: inline-block;
		position: relative;
		vertical-align: top;
		padding: 15px;
		word-wrap: break-word;
		background-color: #262626;
		boreder: 1px solid #474747;
		height: 370px;
		line-height: 370px;
		background: repeating-linear-gradient(60deg, #262626, #262626 35px, #242424 35px, #242424 70px);
		width: 70%;
		color:white;
	}

	.description{
		width:100%;
		height:300px;
		background-color:#1F1F1F;
		padding:25px;
		color:white;
	}

	.multiplayer{
		position: relative;
		width: 100%;
		overflow: hidden;
	}

	.multiplayerLeft{
		display: inline-block;
		position: relative;
		width:33.333%;
		height:300px;
		line-height:300px;
		background-color:#1F1F1F;
		padding:15px;
		color:white;
	}
	.multiplayerRight{
		display: inline-block;
		position: relative;
		width:33.333%;
		height:300px;
		line-height:300px;
		background-color:#1F1F1F;
		padding:15px;
		color:white;
	}
	.multiplayerCenter{
		display: inline-block;
		position: relative;
		width:33%;
		height:300px;
		line-height:300px;
		background-color:#1F1F1F;
		padding:15px;
		color:white;
		margin-left: 2px;
		margin-right: 2px;
	}

	.categorylabel{
		position: relative;
		width: 250px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		background-color: lighten(#1F1F1F, 10%);
		border:1px solid lighten(#1F1F1F, 13%);
		margin-bottom: 10px;
		margin-left:15px;

		font-weight: bold;
	}

	.devider{
		margin-top:15px;
		margin-bottom:15px;
		width: 100%;
		border: 0;
		height: 1px;
		background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
		background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
		background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
		background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	}

	.head{
		-webkit-border-top-left-radius: 20px;
    	-webkit-border-top-right-radius: 20px;
    	-moz-border-radius-topleft: 20px;
    	-moz-border-radius-topright: 20px;
    	border-top-left-radius: 20px;
    	border-top-right-radius: 20px;
    	background-color: #212121;
    	height:50px;
    	line-height: 50px;
    	/*border-bottom: 1px solid #C4C4C4;*/
    	margin-bottom: 2px;
    	color:white;
    	font-weight: bold;
    	text-align: center;
	}

	.foot{
		-webkit-border-bottom-left-radius: 20px;
    	-webkit-border-bottom-right-radius: 20px;
    	-moz-border-radius-bottomleft: 20px;
    	-moz-border-radius-bottomright: 20px;
    	border-bottom-left-radius: 20px;
    	border-bottom-right-radius: 20px;
    	background-color: #212121;
    	height:50px;
    	line-height: 50px;
    	/*border-bottom: 1px solid #C4C4C4;*/
    	margin-bottom: 1px;
    	color:white;
    	font-weight: bold;
    	text-align: center;
	}

}

.home{
	 position:fixed;
 	top:0;
 	left:0;
 	width:100%;
 	height: 100%;
	z-index: -1;
	opacity: 0.6;

}

.adminBase{
	 position:fixed;
 	top:0;
 	left:0;
 	width:100%;
 	height: 100%;
	z-index: -1;
	background-color: #EBEBEB;

}

body{
	// Default Color For All Pages
	background-color: #1C1C1C;
	padding: 0px;
	margin: 0px;
}

.inputNoStyle{
	height:18px !important;
	background-color:transparent !important;
	border:0px !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
	padding:0px !important;
}

.center{
	margin-right: auto !important;
	margin-left: auto !important;
}

#footer{
	text-align:center;
	font-size: 12px;
	color: white;
	margin-top: 8px;
	margin-bottom: 8px;
}

#footer a{
	color : #CADFFC;
}

#footer a:hover{
	text-decoration: underline;
}

.gameblock {
	position:relative;
	width:300px;
	height:170px;
	background:#292929;
	border:1px solid #141414;
	text-align: initial;
	display:inline-block;
	margin-bottom:6px;
	margin-left:2px;
	margin-right:2px;

	.shadow_line {
		width:100%;
		height:1px;
		background:#363636
	}

	.header {
		height:30px;
		width:98%;
		position:relative;
		white-space: nowrap;
		overflow:hidden;

		.own_status_full {
			width:0px;
			height:100%;
			overflow:hidden;
			display:inline-block;
			background:#363636;
			color:white;
			font-size: 0.89564rem;
			padding-top:8px;
			text-align:center;
			cursor: pointer;

			&:hover {
				background:#454545;
			}

			&[owner="true"] {
				border-right:1px solid #24FF24;
			}
			&[owner="false"] {
				border-right:1px solid #FC2626;
			}
		}

		.own_status {
			display:inline-block;
			vertical-align:top;
			width:4px;
			height:100%;
			position:absolute;
			left:1;

			&[owner="true"] {
				border-right:1px solid #00E800;
				background-color: #34D100;
			}
			&[owner="false"] {
				border-right:1px solid #FF0000;
				background-color: #FC1212;
			}
		}

		.title {
			display:inline-block;
			vertical-align:top;
			margin-top:8px;
			margin-left:7px;
			font-weight:500;
			color:white;
			font-size: 0.89564rem;
    		font-family: "quatro-slab","Helvetica Neue","HelveticaNeue",Arial,sans-serif;
    		-webkit-font-smoothing: antialiased;
    		cursor: pointer;
		}
	}

	.information {
		position:relative;
		width:100%;
		height:140px;
		background:#292929;
		border-top:1px solid #141414;

		.shadow_line {
			width:100%;
			height:1px;
			background:#636363;
		}

		.background-image {
			width:100%;
			height:100%;
			opacity:0.3;
			background-size: 100% auto;
		}

		.cover {
			position:absolute;
			left:0;
			top:0;

			img {
				max-width:80px;
				max-height:100px;
				width:auth;
				height:auto;
				position:absolute;
				left:15px;
				top:24px;
				box-shadow: -1px 1px 3px 1px #525252;
			}
		}

		.beaten-budge {
			position:absolute;
			top:0;
			right:3px;
			max-width:20px;
			width:auto;
			height:auto;

			&[beaten="true"] {
				opacity:1;
			}
			&[beaten="false"] {
				opacity:0.2;
			}
			&[beaten="pending"] {
				opacity:0.6;
			}
		}

		.details {
			position:absolute;left:140px;top:25px;

			.block {
				margin-bottom:5px;
				color: white;
				font-size: 0.74886rem;
				font-family: "proxima-nova","Helvetica Neue","HelveticaNeue",Arial,sans-serif;
				-webkit-font-smoothing: antialiased;

				.title {
					font-weight:bold;
				}
			}
		}
	}
}